
.main-partners{
    max-width: 1300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 80px;
   
}

.heading{
 display: flex;
align-items: center;
justify-content: center;
margin-bottom: 40px;
margin-top: 80px;
opacity: 0.7;

}

.partners{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
   margin-left: 80px;
}

.partners img{
   margin-right: 50px;
   width: 10%;
   height: 10%;
}


.side-design{
    position: absolute;
    width: 830px;
    display: flex;
    margin-right: -400px;
}