.possibilities-container{
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 80px;
    margin-bottom: 140px;
}


.possibilities-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 80px;
    opacity: 0.7;
    }


.possibilities-container-content{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}



.elippse-section-1 img{
    display: block;
    margin-top: 60px;
    
}

.elippse-section-1-img-2 img :hover{
    box-shadow: 0 20px 26px 0 rgba(0,0,0,0.2);
}

.elippse-section-1-img-1 img :hover{
    box-shadow: 0 20px 26px 0 rgba(0,0,0,0.2);
}

.elippse-section-2{
    margin-left: 70px;
}
.elippse-section-2 img{
    display: block;
    margin-top: 60px;
    


}

.elippse-section-1-img{
    cursor: pointer;
}



.screen-section{
   display: flex;
   align-items: center;
   justify-content: center;
}

.screen-section img{
    width : 299px;
    height: 563px;
    position: absolute;
}

.elippse-section-1-img-1 img{
    margin-left: 70px;
    cursor: pointer;
}

.elippse-section-1-img-active img{
    margin-right: 70px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00BA78, 0 6px 20px 0 #00BA78;
    border-radius: 25px;
    background-color: #00BA78;
}


.elippse-section-1-img-1-active img{
    margin-left: 70px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #00BA78, 0 6px 20px 0 #00BA78;
    border-radius: 25px;
    background-color: #00BA78;
}



.elippse-section-1-img-2 img{
    margin-left: -70px;
    cursor: pointer;
    transition: ease-out 0.3s;
}



.hideScreen {
  
    display: none;
   
   
  }

.showScreen {
    display: block;
    
}